*{
    box-sizing:border-box;
}
H1{
    color:#00008e;
}
article{
    padding:30px 0px;
}
.doc-sec-1{
    margin:40px 0px;
}
.doc-grid-2>div{
    width: 52%;
    margin: 40px auto;
    gap: 20px;
}
.doc-grid-3>div{
    width: 80%;
    margin: 40px auto;
    gap:20px;
    
}
/**********************doctor-card-css***********************/
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color:#f9f9f5;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow:0px 0px 10px 2px #ddd;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 220px;
    width: 220px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.4s linear 0s;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 22px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  .team-content{
    padding:0px 10px;
  }
  .doc-flex, .card-parent{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:50px;
  }
  .our-team{
    width:310px;
    height:auto;
  }

/************************card-mediaquery***************************/

@media(min-width:760px) and (max-width:1124px){

    .our-team .picture{
      height: 160px;
      width: 160px;
    }
    .our-team:hover .picture img {
    box-shadow: 0 0 0 10px #f7f5ec !important;
    }
}
@media(min-width:760px){
  .our-team:hover .picture::before {
    height: 100%;
  }
  .our-team:hover .picture img {
    box-shadow: 0 0 0 15px #f7f5ec;
    transform: scale(0.8);
  }
  .our-team:hover .social {
    bottom: 0;
  }
}
@media(max-width:760px){
    .picture::before {
      height: 100% !important;
    }
    .picture img {
      box-shadow: 0 0 0 10px #f7f5ec;
      transform: scale(0.8) !important;
    }
    .our-team .picture{
      height: 160px;
      width: 160px;
    }
    .social {
      bottom: 0 !important;
    }
}